@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
    overflow:hidden;
    position:absolute;
}
#hideMe {
    left: 0;
    top: 74px;
    position: fixed;
    -webkit-animation: cssAnimation 2s forwards; 
    animation: cssAnimation 2s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 0.9;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 0.9;}
    100% {opacity: 0;}
}
